*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
background: #FFF7E9;
}

.nav{



    top: 0;
    position: sticky;
}
.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.lg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lg-icon{
    font-size: 30px;
}
.home{
    background-attachment: fixed;
    background-image: url("../static/image/donut-1.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    clip-path: stroke-box;

    height: 80vh;
}

.fav-food{

    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 9;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: 'Noto Serif Myanmar', serif;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    font-weight: bolder;
}
.about{
    position: relative;
    width: 100%;
    height: 50vh;

}
.about img{
    width: 400px;

}
.sec-about{
    padding-top: 0px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.sec-footer{

    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.footer{

    position: relative;
    border-top: 1px solid #ccc;
    padding: 50px 0;

}
