*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: #FFF7E9;
}

.nav{

    top: 0;
    position: sticky;
}
.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.lg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lg-icon{
    font-size: 30px;
}
.home{
    background-attachment: fixed;
    background-image: url("../image/donut-1.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    clip-path: stroke-box;

    height: 80vh;
}

.fav-food{

    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 9;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: 'Noto Serif Myanmar', serif;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    font-weight: bolder;
}
.coffee img{
    height: 300px;
}
.about{
    position: relative;
    width: 100%;
    height: 50vh;

}
.about img{
    width: 400px;

}
.sec-about{
    padding-top: 0px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.sec-footer{

    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.footer{

    position: relative;
    border-top: 1px solid #ccc;
    padding: 50px 0;

}


/* Login Css*/

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url('../image/donut-2.png')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
.regi{
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input{
    margin-right: 3px;

}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

/* Login Css */

/* Shop Css */

.search{
    display: flex;
    width: 100%;
    margin-top: 40px;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px ;
    border-bottom: 1px solid #adacac;

}
.search-input{
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    margin-right: 10px;
    width: 40%;
    padding: 7px 0 7px 10px;
    border: 1px solid #afadad;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.search button{
    background-color: #4e4e4e;
    border: 1px solid #afadad;
    border-radius: 0 5px 5px 0;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;

}
.search button:hover{
    opacity: 1;
}
.search .search-icon{
    font-size: 20px;
}
.main button{
    border: none;
    outline: none;

}
.main .card{
    border-radius: 10px;
}
.item-list .link{
    padding-left: 10px;
    border-left: 1px solid #afadad;
    text-decoration: none;
    color: black;
    font-weight: bold;
    opacity: 0.7;
}
.item-list .link:hover{
    color: #f8a84b;
    opacity: 1;

}

.donut{
    display: none;
}
.juices{
    display: none;
}
.active{
    display: block;
}
#juices img{
    width: 150px;
    height: 150px;
}

/* Shop Css */