<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Login</title>
    <style>
        body{
            background-image: url("https://rb.gy/1plbdp");
            background-size: cover;
        }

    </style>
</head>
<body>


<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="w-50 card ">
        <div class="card-body">
            <form >
                <h5 class="text-center mb-5">Register Account</h5>
                <div class="form-group m-3 ">
                    <label for="exampleInputEmail1" class="font-weight-bold">Name</label>
                    <input type="text" class="form-control" >
                </div>
                <div class="form-group m-3">
                    <label for="exampleInputEmail1" class="font-weight-bold">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >

                </div>
                <div class="form-group m-3">
                    <label for="exampleInputEmail1" class="font-weight-bold">Phone Number</label>
                    <input type="text"  class="form-control" >
                </div>
                <div class="form-group m-3">
                    <label for="exampleInputEmail1" class="font-weight-bold">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" >
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center " style="margin-top: 30px">
                    <button type="submit" class="btn btn-success w-75 ">Register</button>

                </div>


            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</body>
</html>